body {
  font-family: 'Nunito', sans-serif;
}
/***** Forgot *****/


.header-forgot {
  background-image: url(./images/header-forgot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-forgot .header-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 758px;
  color: white;
}

.header-forgot .header-content .header-nav {
  margin: 0 89px;
  padding-top: 74px;
}

.header-forgot .header-content .header-nav i {
  font-size: 30px;
  margin-right: 76px;
}

.header-forgot .header-content .header-nav span {
  font-size: 24px;
}

.header-forgot .header-content h1.heading {
  font-size: 64;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  line-height: 85px;
  margin-top: 40px;
}

.header-forgot .header-content form div {
  text-align: center;
}

.header-forgot .header-content form div input {
  height: 79px;
  width: 447px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  margin-bottom: 31px;
}

.header-forgot .header-content form div input:focus {
  outline: none;
}

.header-forgot .header-content form div input::placeholder {
  color: white;
}

.header-forgot .header-content form div button.button-send {
  background-color: #FFCD61;
  font-size: 24px;
  height: 79px;
  width: 447px;
  border: none;
  border-radius: 10px;
  font-weight: 900;
}

.header-forgot .header-content .text {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-top: 54px;
}

footer.footer {
  margin-top: 69px;
}

footer.footer .row.text {
  margin-bottom: 78px;
}

footer.footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

footer.footer .description {
  margin-top: 26px;
  margin-bottom: 53px;
  width: 300px;
}

footer.footer .link-social {
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}

footer.footer .link-social i {
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

/***** Login *****/


.header-login {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-login .header-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.header-login .header-content .header-left {
  border-right: 1px solid white;
  background-image: url(../assets/images/image-login.png);
  height: 1463px;
}

/***** Tulisan Login *****/
.header-login .header-content .row .header-right h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  margin-top: 95px;
  margin-left: 125px;
  margin-bottom: 80px;
  color: #BF9270;
}

.header-login .header-content .header-left .text {
  font-weight: 700;
  size: 24px;
  text-align: justify;
  margin-bottom: 25px;
}
.header-login .header-content .header-right {
  background-color: #FFEDDB;  
}

.header-login .header-content .header-right form div {
  text-align: center;
}

.header-login .header-content .header-right form div input {
  background: rgba(255, 255, 255, 0.26);
  width: 489px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-bottom: 34px;
}

.header-login .header-content .header-right form div input:focus {
  outline: none;
}

.header-login .header-content .header-right form div input::placeholder {
  color: white;
  font-size: 24px;
  padding-left: 41px;
}
/***** Forgot Password Login *****/
.header-login .header-content .header-right form p.forgot {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 49px;
  margin-left:125px;
}
/***** Button Login at Login *****/
.header-login .header-content .header-right form div button.btn-login {
  background-color: #BF9270;
  color: #FFEDDB;
  font-size: 24px;
  font-weight: 900;
  width: 489px;
  height: 79px;
  border-radius: 10px;
  border: none;
  margin-top: 57px;
}
/***** Button signUp at Login *****/
.header-login .header-content .header-right form div button.btn-signup {
  background-color: #393939;
  color: #BF9270;
  font-size: 24px;
  font-weight: 900;
  width: 489px;
  height: 79px;
  border-radius: 10px;
  border: none;
  margin-top: 57px;
}

/***** Button Google at Login *****/
.header-login .header-content .header-right form div button.btn-google {
  background-color: #EDCDBB;
  color: #FFEDDB;
  font-size: 24px;
  font-weight: 900;
  width: 490px;
  height: 79px;
  border-radius: 10px;
  border: none;
}

.header-login .header-content .header-right form div button.btn-google i {
  width: 34px;
  height: 33px;
  margin-right: 12px;
}

/***** Garis Login *****/

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
  margin-left: 120px;
  margin-right: 130px;
  margin-top: 40px;
  margin-bottom: 53px;
  font-size: 24px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.footer2 .description2 {
  margin-top: 26px;
  margin-bottom: 53px;
  width: 300px;
  color: #393939;
  text-align: center;
}

.footer2 .link-social {
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}
.footer2 .img{
  text-align: center;
}
.footer2 .link-social i {
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  color: #393939;
}

.footer2 {
  margin-top: 150px;
  text-align: left;
  color: #393939;
}
@media (max-width: 500px) {
  .header-forgot .header-content {
    padding: 0 10px;
  }

  .header-forgot .header-content form div input {
    width: 100%;
  }

  .header-forgot .header-content form div button.button-send {
    width: 100%;
  }
}