body {
  font-family: 'Nunito', sans-serif;
  background-color:#FFEDDB;
}
/***** Forgot *****/


.header-forgot {
  background-image: url(./images/header-forgot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-forgot .header-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 758px;
  color: white;
}

.header-forgot .header-content .header-nav {
  margin: 0 89px;
  padding-top: 74px;
}

.header-forgot .header-content .header-nav i {
  font-size: 30px;
  margin-right: 76px;
}

.header-forgot .header-content .header-nav span {
  font-size: 24px;
}

.header-forgot .header-content h1.heading {
  font-size: 64;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  line-height: 85px;
  margin-top: 40px;
}

.header-forgot .header-content form div {
  text-align: center;
}

.header-forgot .header-content form div input {
  height: 79px;
  width: 447px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  margin-bottom: 31px;
}

.header-forgot .header-content form div input:focus {
  outline: none;
}

.header-forgot .header-content form div input::placeholder {
  color: white;
}

.header-forgot .header-content form div button.button-send {
  background-color: #FFCD61;
  font-size: 24px;
  height: 79px;
  width: 447px;
  border: none;
  border-radius: 10px;
  font-weight: 900;
}

.header-forgot .header-content .text {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-top: 54px;
}

footer.footer {

  
  
}

footer{
  background-color: #BF9270;
}

footer.footer .row.text {
  margin-bottom: 78px;
  margin-left: 120px;
  padding-top: 69px;
  margin-right: 120px;
}

footer.footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

footer.footer .description {
  margin-top: 26px;
  margin-bottom: 53px;
  width: 300px;
}

footer.footer .link-social {
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}

footer.footer .link-social i {
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
}

/***** Login *****/


.header-login {
  background-repeat: no-repeat;
  background-size: cover;
}

.header-login .header-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.header-login .header-content .header-left {
  border-right: 1px solid white;
  background-image: url(../assets/images/image-login.png);
  height: 1463px;
}

/***** Tulisan Login *****/
.header-login .header-content .row .header-right h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  margin-top: 95px;
  margin-left: 125px;
  margin-bottom: 80px;
  color: #BF9270;
}

.header-login .header-content .header-left .text {
  font-weight: 700;
  size: 24px;
  text-align: justify;
  margin-bottom: 25px;
}
.header-login .header-content .header-right {
  background-color: #FFEDDB;  
}

.header-login .header-content .header-right form div {
  text-align: center;
}

.header-login .header-content .header-right form div input {
  background: rgba(255, 255, 255, 0.5);
  width: 489px;
  height: 79px;
  border: none;
  border-radius: 10px;
  margin-bottom: 34px;
}

.header-login .header-content .header-right form div input:focus {
  outline: none;
}

.header-login .header-content .header-right form div input::placeholder {
  color: #BF9270;;
  font-size: 24px;
  padding-left: 41px;
}
/***** Forgot Password Login *****/
.header-login .header-content .header-right form p.forgot {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 49px;
  margin-left:125px;
}
/***** Button Login at Login *****/
.header-login .header-content .header-right form div button.btn-login {
  background-color: #BF9270;
  color: #FFEDDB;
  font-size: 24px;
  font-weight: 900;
  width: 489px;
  height: 79px;
  border-radius: 10px;
  border: none;
  margin-top: 57px;
}
/***** Button signUp at Login *****/
.header-login .header-content .header-right form div button.btn-signup {
  background-color: #393939;
  color: #BF9270;
  font-size: 24px;
  font-weight: 900;
  width: 489px;
  height: 79px;
  border-radius: 10px;
  border: none;
  margin-top: 57px;
}

/***** Button Google at Login *****/
.header-login .header-content .header-right form div button.btn-google {
  background-color: #EDCDBB;
  color: #FFEDDB;
  font-size: 24px;
  font-weight: 900;
  width: 490px;
  height: 79px;
  border-radius: 10px;
  border: none;
}


/***** Garis Login *****/

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
  margin-left: 120px;
  margin-right: 130px;
  margin-top: 40px;
  margin-bottom: 53px;
  font-size: 24px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.description2 p{
  margin-top: 26px;
  margin-bottom: 53px;
  color: #393939;
  text-align: center;
  margin-left: 300px;
}
.footer2 .link-social {
  border-top: 1px solid #C4C4C4;
  padding: 31px;
  text-align: center;
}
.footer2 .img{
  text-align: center;
}
.footer2 .link-social i {
  font-size: 25px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  color: #393939;
}

.footer2 {
  margin-top: 150px;
  text-align: left;
  color: #393939;
}
nav.navbar button.btn-login{
  border: 2px solid #BF9270;
  background-color: white;
  color: #BF9270;
  font-size: 15px;
  font-weight: 400;
  width: 132px;
  height: 44px;
  border-radius: 10px;
  margin-right: 18px;
}

nav.navbar button.btn-register{
  background-color: #BF9270;
  border-color: #BF9270 solid;
  color: #FFEDDB;
  font-size: 15px;
  font-weight: 400;
  width: 132px;
  height: 44px;
  border-radius: 10px;
  border: none;
  margin-right:98px;
}

header.header-home{
    background-image: url(./images/img-home2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header.header-home .header-content{
  background-color: rgba(0, 0, 0, 0.5);
  height: 763px;
  color: white;
}

header.header-home .header-content h1 {
  font-size: 64px;
  width: 356px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-weight: bold;
  line-height: 80px;
  padding-top: 69px;
  margin-left:121px;
}
header.header-home .header-content p{
  margin-left:121px;
  margin-top: 74px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;

}
header.header-home .header-content span{
  margin-left:121px;
  margin-top: 17px;
  padding-left: 33px;
}

header.header-home .header-content .btn-group{
  margin-left:121px;
  margin-top: 48px;
  margin-bottom: 34px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  width: 476px;
}

header.header-home .header-content .col-md-2 .btn-group{
  margin-left:121px;
  margin-top: 17px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  width: 220px;
}

header.header-home .header-content .search-vehicles{
  margin-left:121px;
  margin-top: 51px;
  color: rgba(255, 255, 255, 0.5);
  background-color:#BF9270;
  border-radius: 6px;
  width: 120px;
}

.main .popular h2{
  font-family: 'Playfair Display', serif;
  margin-top: 81px;
  margin-bottom: 55px;
}

.main .popular{
  font-family: 'Playfair Display', serif;
  margin-left:144px;
  margin-top: 81px;
  margin-bottom: 55px;
}


.main .popular .row .col-md-3{
  margin-right: -10px;
}

.main .popular .row{
  margin-right: 120px
}

.main .popular .row .img1{
  position: relative;
  text-align: center;
  color: white;
}

.text-img1{
  position: absolute;
  width: 129px;
  top : 250px;
  transform: translate(50%, 50%);
  background-color: #EDCDBB;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.text-next{
  position: absolute;
  font-size: 40px;
  width: 132px;
  height: 60px;
  top : 410px;
  right: 240px;
  transform: translate(50%, 50%);
  background-color:#FFEDDB;
  border-radius: 10px;
  color: black;
}

.next i{
  position: absolute;
  color:#BF9270;
  font-size: 100px;
  top : 80px;
  Right: 35px;
  background-color: #393939;
  border-radius: 100px;
  transform: translate(50%, 50%);
}

.text-img1 .head{
  font-weight: 700;
}
.testi-text-star{
  color: #FFCD61;
  font-size: 23px;
  margin-top: 104px;
}

.testi-text{
  width: 450px;
  margin-right: 200px;
  margin-top: 30px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main .popular .row h4{
  margin-top: 40px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.main .popular .row h5{
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
}


@media (max-width: 500px) {
  .header-forgot .header-content {
    padding: 0 10px;
  }

  .header-forgot .header-content form div input {
    width: 100%;
  }

  .header-forgot .header-content form div button.button-send {
    width: 100%;
  }
}